html {
    scroll-behavior: smooth;
}



.contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-size: 36px;
    color: #10002B; /* Dark color for heading */
    margin-bottom: 30px;
}

/* Form container with black and white gradient */
form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 550px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Label styling */
label {
    color: #fff; /* White text */
    font-size: 18px;
    margin-bottom: 8px;
    align-self: flex-start;
}

/* Input and textarea styling */
#name, #email, #msg {
    padding: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ddd; /* Light grey border */
    background-color: #fff; /* White background for inputs */
    color: #333; /* Dark grey text */
    transition: all 0.3s ease;
}

/* Focus state for input and textarea */
#name:focus, #email:focus, #msg:focus {
    border-color: #10002B; /* Dark color on focus */
    outline: none;
    background-color: #f5f5f5; /* Slightly lighter background on focus */
}

/* Submit button styling */
#button {
    background-color: #000000; /* Dark color for button */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
}

/* Button hover and active states */
#button:hover {
    background-color: #240046; /* Lighter dark color on hover */
    transform: scale(1.05);
    opacity: 0.9;
}

#button:active {
    background-color: #3C096C; /* Even lighter on click */
    transform: scale(1);
}

textarea {
    resize: vertical;
    min-height: 100px;
    resize: none;
}
