

        body {
            background-color: #F5F6FA;
            
        }
    
        .dashboard
        {
            display:flex;
            margin-left:1%;
            
        }
        table {
                font-size:20px;
                width:100%;
            }

            th, td {
                text-align:center;
                padding: 5px;
                font-size: 0.8em;
            }
            td{
                background-color:  #F5F6FA;
            }
       
        .user-infos {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            padding: 20px;
            margin-right:3%;
            margin-left:0.8%;
            width:100%;
        }
       
    
     
        .icon
        {
            margin-top:25px;    
        }.unknown{
            background-color:white;
            padding:20px;
            border-radius:15px;
        }