
        body{
         
            background-color:  #F5F6FA;
            
        }
        .all-container{
            display: flex;
            flex-direction: row;
            margin:0;
            margin-left:1%;
            margin-right:1%;
           
            
        }
        .add-container{
           
            display: flex;
            
            justify-content: center;
            width:100%;
        }
        form{
            background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap:15px;
            padding: 30px 60px;
            width: 850px;
            height:700px;
         
 
        }
        .add-container p{
            font-size: 30px;
            font-weight: bold;
            margin-top:0;
            margin-bottom: 0;
        }
        input[type='text']{

            width: 300px;
            height:40px;
            padding:10px;
        }
        .nitems{
            width:700px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
         
        }
        .half{
            width:300px;
            height:40px;
        }
        input[type='textarea']{
            width: 700px;
            height:100px;
            padding:10px;
        }
        .low{
            display: flex;
            flex-direction:column;
        }
        select{
            width: 300px;
            height:40px;
        }
        .productimgs {
            display: flex;
            gap: 10px;
        }
        
        .custom-file-upload {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: 2px solid #ccc;
            border-radius: 5px;
            text-align: center;
            line-height: 40px;
            font-size: 24px;
            font-weight: bold;
            color: #666;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
        }
        
        .custom-file-upload:hover {
            background-color: #f0f0f0;
            border-color: #aaa;
            color: #333;
        }
        
        .custom-file-upload input[type="file"] {
            display: none;
        }
        
        .custom-file-upload img {
            width: 40px; /* Adjust the size as needed */
            height: 40px;
            object-fit: cover; /* Ensure the image is properly cropped */
           
        }
        button{
            background-color: black;
            color:white;
            padding:10px 50px;
            border-radius: 5px;
        }