
.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}


.filters {
    flex-basis: 20%;
    background-color: #f5f5f5;
    padding: 20px;

}

.filters h2 {
    margin-top: 0;
}

.clear-filters {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.filter-category {
    margin-bottom: 20px;
}

.filter-category h3 {
    margin-top: 0;
}

.filter-category ul {
    list-style-type: none;
    padding: 0;
}

.filter-category li {
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color:black;
}

.product-grid {
    flex-basis: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap:20px;
   
}

.product-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
   
   
}

.product-card img {
    width: 150px; /* Fixed width */
    height: 150px; /* Fixed height */
    object-fit: cover; /* Ensures the image fills the box without distortion */
    display: block; /* Ensures the image doesn't add extra inline spacing */
    margin: 0 auto; /* Center the image inside the card */
}


.product-card h3 {
    margin-top: 10px;
    font-size: 16px;
}

.product-card p {
    font-weight: bold;
    margin-bottom: 10px;
}

#add-to-cart {
    background-color: #007bff;
    color: #fff;
    border:2px solid #007bff;
    padding: 8px 16px;
    cursor: pointer;
}
.wishlist-btn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid orange;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('.images/wishlist.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}

.wishlist-btn.saved {
    background-color: orange; 
    border: none;
    background-image: url('.images/wishlist.png'); /* Optional filled icon */
}

button{
    width:20%;
    height:auto;
    padding: 0;
    object-fit:scale-down;
}

